<section id="home">
  <div id="general-info">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-3">
          <img src="" alt="Github avatar">
        </div>
        <div class="col-12 col-md-8">
          <div class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-lg-3">
                  <p><span class="title">Username:</span><br>AnnaL001</p>
                </div>
                <div class="col-6 col-lg-3">
                  <p><span class="title">Public repo:</span><br>21</p>
                </div>
                <div class="col-6 col-lg-3">
                  <p><span class="title">Followers:</span><br>4</p>
                </div>
                <div class="col-6 col-lg-3">
                  <p><span class="title">Following:</span><br>4</p>
                </div>
                <div class="col-12">
                  <p><span class="title spacing">Description:</span>Lorem ipsum dolor Lorem ipsum dolor Lorem ipsum dolor
                    Lorem ipsum dolorLorem ipsum dolorLorem ipsum dolorLorem ipsum dolor
                  </p>
                </div>
                <div class="col-12">
                  <p><span class="title spacing">Joined:</span>1 week ago</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="repos">
    <h2>List of repositories</h2>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4">
        <div class="card">

        </div>
      </div>
    </div>
  </div>
</section>
