<section id="home">
  <div id="general-info">
    <div class="container">
      <div class="row gx-5">
        <div class="col-12 col-md-3 col-lg-2 mb-4 mb-md-0">
          <img src="{{user.avatar}}" alt="Github avatar">
        </div>
        <div class="col-12 col-md-8 col-lg-10">
          <div id="general-info-text" class="card">
            <div class="card-body">
              <div class="row">
                <div class="col-6 col-lg-3">
                  <p class="card-text"><span class="title">Username:</span><br>{{user.username}}</p>
                </div>
                <div class="col-6 col-lg-3">
                  <p class="card-text"><span class="title">Public repo:</span><br>{{user.publicRepos}}</p>
                </div>
                <div class="col-6 col-lg-3">
                  <p class="card-text"><span class="title">Followers:</span><br>{{user.followers}}</p>
                </div>
                <div class="col-6 col-lg-3">
                  <p class="card-text"><span class="title">Following:</span><br>{{user.following}}</p>
                </div>
                <div class="col-12">
                  <p class="card-text"><span class="title spacing">Bio:</span>
                    {{user.bio}}
                  </p>
                </div>
                <div class="col-12">
                  <p class="card-text"><span class="title spacing">Joined:</span>{{user.createdAt|date}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="repos">
    <h2>List of repositories</h2>
    <div class="container">
      <div class="row gy-4">
        <div *ngFor="let repo of user.repos" class="col-12 col-md-6 col-lg-4">
          <div class="card h-100">
            <div class="card-header">
              <i class="fa-brands fa-github-square text-primary"></i>
              <h3 class="card-title">{{repo.name}}</h3>
            </div>
            <div class="card-body">
              <p class="card-text"><span class="title">Description:</span>{{repo.description}}</p>
              <p class="card-text"><span class="title">Language:</span>{{repo.language}}</p>
              <p class="card-text"><span class="title">Forks:</span>{{repo.forks}}</p>
            </div>
            <div class="card-footer">
              <p class="card-text footer-text">Created: {{repo.createdAt|date}}</p>
              <a href="{{repo.url}}">
                <button class="btn btn-primary">View</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
