a.navbar-brand {
  font-family: 'Pacifico', cursive;
}

ul {
  margin-left: 2rem;
}

ul li {
  margin: 0 0.3rem;
  font-size: 0.98rem;
}

@media screen and (max-width: 991px) {
  ul {
    margin: 0;
  }

  ul li {
    font-size: 1rem;
  }
}
