/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Raleway', sans-serif;
}

section {
  padding: 4.5rem 0;
}

.title {
  font-weight: 500;
}

.spacing {
  margin-right: 0.3rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: 600;
}

img {
  max-width: 100%;
  height: auto;
}

